<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">

        <nav class="mt-4" aria-label="Page navigation example">
            <ul class="pagination">

                {% if current_page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="index{{ current_page - 1 }}.html">Назад</a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <span class="page-link">Назад</span>
                </li>
                {% endif %}

                {% for page in range(1, total_pages +1) %}
                <li class="page-item {% if page == current_page %}active{% endif %}">
                    <a class="page-link" href="index{{ page }}.html">{{ page }}</a>
                </li>
                {% endfor %}

                {% if current_page < total_pages %}
                <li class="page-item">
                    <a class="page-link" href="index{{ current_page + 1 }}.html">Вперед</a>
                </li>
                {% else %}
                <li class="page-item disable">
                    <span class="page-link">Вперед</span>
                </li>
                {% endif %}

            </ul>
        </nav>

        {% for row in rows %}
        <div class="row">
            {% for book in row %}
            <div class="col-md-6">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="../{{ book.img_src }}" class="card-img" alt="{{ book.title }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ book.title }}</h5>
                                <p class="card-text">{{ book.author }}</p>
                                <p class="card-text">
                                    {% for genre in book.genres.split(',') %}
                                        <span class="badge bg-secondary">{{ genre }}</span>
                                    {% endfor %}
                                </p>
                                <p class="card-text">
                                    <small class="text-muted">
                                        <a href="../{{ book.book_path }}" target="_blank">Читать</a>
                                    </small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous">
    </script>
</body>
</html>
